<div *ngIf="match">
  <section widget class="widget">
    <header>
      <h4>
        {{match.date}}
      </h4>
    </header>
    <div class="widget-body">
      <div *ngIf="side1==true">
        <h3>Equipo <span class="fw-semi-bold">{{match.team1.name}}</span></h3>
      </div>
      <div *ngIf="side1==false">
        <h3>Equipo <span class="fw-semi-bold">{{match.team2.name}}</span></h3>
      </div>
      <br>    
      <div class="stage texture">
        <div class="world">
          <div class="team" *ngIf="side1==true">
            <!-- Team cards / icons goes here -->
            <div *ngFor="let player of match.team1.players">
              <div class="player" [ngStyle]="{'left':player.x+'%', 'top':player.y+'%'}">
                <div class="player__label">
                  <span>{{player.name}}</span>
                  <br>
                  <span ngIf*="player.goals!=0"><i class="fa fa-futbol"></i>x{{player.goals}}</span>
                </div>
                <div class="player__img">
                  <img [src]="player.photo">
                </div>
              </div>
            </div>
          </div>

          <div class="team" *ngIf="side1==false">
            <!-- Team cards / icons goes here -->
            <div *ngFor="let player of match.team2.players">
              <div class="player" [ngStyle]="{'left':player.x+'%', 'top':player.y+'%'}">
                <div class="player__label">
                  <span>{{player.name}}</span>
                  <br>
                  <span ngIf*="player.goals!=0"><i class="fa fa-futbol"></i>x{{player.goals}}</span>
                </div>
                <div class="player__img">
                  <img [src]="player.photo">
                </div>
              </div>
            </div>
          </div>

          <div class="terrain js-terrain">
            <div class="field field--alt"></div>
            <div class="field ground">
              <div class="field__texture field__texture--gradient"></div>
              <div class="field__texture field__texture--gradient-b"></div>
              <div class="field__texture field__texture--grass"></div>
              <div class="field__line field__line--goal"></div>
              <div class="field__line field__line--goal field__line--goal--far"></div>
              <div class="field__line field__line--outline"></div>
              <div class="field__line field__line--penalty"></div>
              <div class="field__line field__line--penalty-arc"></div>
              <div class="field__line field__line--penalty-arc field__line--penalty-arc--far"></div>
              <div class="field__line field__line--mid"></div>
              <div class="field__line field__line--circle"></div>
              <div class="field__line field__line--penalty field__line--penalty--far"></div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="switchSide()">Cambiar equipo</button>
    </div>
  </section>
</div>