<h2>Nuevo Partido</h2>
<form class="form-horizontal form-label-left" [formGroup]="matchForm" novalidate>
  <div class="well well-lg">
    <fieldset>
      <div class="form-group row">
        <label class="col-form-label col-md-4" for="tournament">Torneo</label>

        <div class="col-md-4">
          <input type="text" formControlName="tournament" id="tournament" name="tournament" class="form-control input-transparent">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4" for="place">Lugar</label>

        <div class="col-md-4">
          <input type="text" formControlName="place" id="place" name="place" class="form-control input-transparent">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4" for="date">Fecha</label>

        <div class="col-md-4">
          <input type="date" formControlName="date" id="date" name="date" class="form-control input-transparent">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4" for="summary_title">T&iacute;tulo</label>
        <div class="col-md-4">
          <input type="text" formControlName="summary_title" id="summary_title" name="summary_title" class="form-control input-transparent">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4" for="summary_body">Resumen</label>
        <div class="col-md-4">
          <textarea formControlName="summary_body" class="form-control input-transparent" id="summary_body" rows="10"></textarea>
        </div>
      </div>
    </fieldset>
  </div>
  <fieldset class="mt-md">
    <legend>Equipos
      <small>Jugadores</small>
    </legend>
  </fieldset>
  <div formGroupName="team1" class="well well-lg">
    <div class="form-group row">
      <label class="col-form-label col-md-4" for="tournament">Equipo 1</label>

      <div class="col-md-4">
        <input type="text" formControlName="name" id="name" name="name" class="form-control input-transparent">
      </div>
    </div>
    <div formGroupName="player1">
      <h4>Arquero</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team1.player1.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player2">
      <h4>Jugador 1</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team1.player2.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player3">
      <h4>Jugador 2</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team1.player3.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player4">
      <h4>Jugador 3</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team1.player4.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player5">
      <h4>Jugador 4</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team1.player5.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div formGroupName="team2" class="well well-lg">
    <div class="form-group row">
      <label class="col-form-label col-md-4" for="tournament">Equipo 2</label>

      <div class="col-md-4">
        <input type="text" formControlName="name" id="name" name="name" class="form-control input-transparent">
      </div>
    </div>
    <div formGroupName="player1">
      <h4>Arquero</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team2.player1.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player2">
      <h4>Jugador 1</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team2.player2.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player3">
      <h4>Jugador 2</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team2.player3.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player4">
      <h4>Jugador 3</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team2.player4.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
    <div formGroupName="player5">
      <h4>Jugador 4</h4>
      <div class="row">
        <div class="form-group">
          <label class="center-block"> Nombre
            <select class="form-control input-transparent" formControlName="id">
              <option *ngFor="let player of players | filterPlayers:playersSelected:matchForm.get('team2.player5.id').value" [value]="player.id"
                [selected]="player.id == id">{{player.nickname}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Goles
            <input type="number" class="form-control input-transparent" formControlName="goals">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Disparos
            <input type="number" class="form-control input-transparent" formControlName="shoots">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Asistencias
            <input type="number" class="form-control input-transparent" formControlName="assists">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Faltas
            <input type="number" class="form-control input-transparent" formControlName="fouls">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block"> Puntaje
            <input type="number" class="form-control input-transparent" formControlName="score">
          </label>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="matchForm.pristine" class="btn btn-success">Guardar</button>
</form>
<p>Form value: {{ matchForm.value | json }}</p>
<p>Form status: {{ matchForm.status | json }}</p>
<p>Players selected: {{ playersSelected | json }}</p>