<div *ngIf="stats">
<section widget class="widget">
    <header>
      <h4>
        <i class="fa fa-bar-chart"></i> Estadisticas</h4>
    </header>
    <div class="widget-body">
        <ul class="overall-stats" style:"display:inline">
            <li>
                <h5 class="mt-0 mb-xs weight-normal">Partidos Jugados</h5>
                <p>{{stats.matches}}</p>
            </li>
            <li>
                <h5 class="mt-0 mb-xs weight-normal">Goles Convertidos</h5>
                <p>{{stats.goals}}</p>
            </li>
            <li>
                <h5 class="mt-0 mb-xs weight-normal">Asistencias</h5>
                <p>{{stats.assists}}</p>
            </li>
            <li>
                <h5 class="mt-0 mb-xs weight-normal">Faltas</h5>
                <p>{{stats.fouls}}</p>
            </li>
          </ul>
        <div style="display: block">
            <canvas baseChart
                    [datasets]="radarChartData"
                    [labels]="radarChartLabels"
                    [options]="radarChartOptions"
                    [chartType]="radarChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
         </div>
    </div>
  </section>
</div>