<div *ngIf="match">
<h2 class="page-title">Torneo {{match.tournament}}
  <small>{{match.date}}</small>
</h2>
<div class="row">
  <div class="col-lg-6">
    <section widget class="widget">
      <header>
        <h4>
           {{match.date}}
        </h4>
      </header>
      <div class="widget-body">
          <h3>Sede <span class="fw-semi-bold">{{match.place}}</span></h3>
          <br>          
        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <img class="rounded-circle" [src]="match.team1.photo" alt="64x64" style="height: 112px;">
              <h3 class="mt-md mb-xs">{{match.team1.name}}</h3>
            </div>
          </div>
          <div class="col-md-4">
              <div class="text-center">
                <h1 class="mt-md mb-xs">{{match.team1.goals}}  -  {{match.team2.goals}}</h1>
              </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <img class="rounded-circle" [src]="match.team2.photo" alt="64x64" style="height: 112px;">
              <h3 class="mt-md mb-xs">{{match.team2.name}}</h3>
            </div>
          </div>
        </div>
        <br>
        <fieldset class="mt-md">
          <legend>Jugadores del Partido
            <small>Premios</small>
          </legend>
        </fieldset>
        <div class="row">
          <div class="col-md-3">
            <div class="text-center">
              <h4 class="mt-md mb-xs">Chamigo</h4>                              
              <img class="rounded-circle" [src]="match.awards.chamigo.photo" alt="64x64" style="height: 112px;">
              <h4 class="mt-md mb-xs">{{match.awards.chamigo.name}}</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center">
              <h4 class="mt-md mb-xs">Chenemigo</h4>
              <img class="rounded-circle" [src]="match.awards.chenemigo.photo" alt="64x64" style="height: 112px;">
              <h4 class="mt-md mb-xs">{{match.awards.chenemigo.name}}</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center">
              <h4 class="mt-md mb-xs">Goleador</h4>                
              <img class="rounded-circle" [src]="match.awards.goleador.photo" alt="64x64" style="height: 112px;">
              <h4 class="mt-md mb-xs">{{match.awards.goleador.name}}</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center">
              <h4 class="mt-md mb-xs">Terminator</h4>                              
              <img class="rounded-circle" [src]="match.awards.terminator.photo" alt="64x64" style="height: 112px;">
              <h4 class="mt-md mb-xs">{{match.awards.terminator.name}}</h4>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <div class="col-lg-6">
      <app-match-summary></app-match-summary>            
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
      <app-match-detail-stats></app-match-detail-stats>        
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <app-field></app-field>
  </div>
</div>
</div>